:root{
    --color-white: #fff;
    --color-yellow1: #F6EB16;
    --color-yellow2: #FECC0C;
    --color-yellow-orange: #FEAF33;
    --color-dark: #000000;
    --color-blue: #2959D3;
    --color-verde: #00FF00;
    --color-cinza: #2c2f33;
    --color-yellow-footer: #f7e815;
    --color-gray-paginacao: #eaeaea;
}

